---
---

@import "{{ site.theme }}";

:focus {
  outline: none;
}

body {
  overflow-y: scroll;
}

iframe {
  max-width: 100%;
}

#top_page_link {
  display: block;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.navbar {
  display: flex;
  > .right {
    margin-left: auto;
  }
}
