---
---

@import "{{ site.theme }}";
:focus {
  outline: none;
}
body {
  overflow-wrap: break-word;
  overflow-y: scroll;
}
iframe {
  max-width: 100%;
}
#banner_wrap {
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 10;
}
%banner {
  display: inline-block;
  padding: 10px 42px 10px 10px;
  color: #fff;
  background: no-repeat 95% 50% / auto 70%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 2px 2px;
}
#github_banner {
  @extend %banner;
  background-image: url(../images/GitHub.svg);
  background-color: #12982c;
}
#twitter_banner {
  @extend %banner;
  background-image: url(../images/Twitter.svg);
  background-color: #1da1f2;
}
#connpass_banner {
  @extend %banner;
  background-image: url(../images/connpass.svg);
  background-color: #d11f00;
}
@media screen and (max-width: 420px) {
  #header_wrap > .inner {
    padding-top: 70px;
  }
}
#toppage_link {
  display: block;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.navbar {
  display: flex;
  > .right {
    margin-left: auto;
  }
}
